<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBT0GtB7AxS9-mHjVfd2QQfQ3CgdUnarxc</string>
	<key>GCM_SENDER_ID</key>
	<string>90246010853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.anylearn.buyer</string>
	<key>PROJECT_ID</key>
	<string>anylearn-vn</string>
	<key>STORAGE_BUCKET</key>
	<string>anylearn-vn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90246010853:ios:59e76c1e97789efaf8810c</string>
	<key>DATABASE_URL</key>
	<string>https://anylearn-vn.firebaseio.com</string>
</dict>
</plist>